/trunk/tools/winbuild/vs2015/all_tools.VC.db
/trunk/tools/winbuild/vs2015/Release/vc140.pdb
/trunk/tools/winbuild/vs2015/all_tools.VC.VC.opendb
/trunk/libs/winbuild/vs2015/libs.vcxproj.user
/trunk/libs/winbuild/vs2015/.vs/all_libs/v14/.suo
/trunk/libs/winbuild/vs2015/Release
/trunk/libs/winbuild/vs2015/Debug
/trunk/tools/winbuild/vs2015/Debug
/trunk/tools/winbuild/vs2015/Release
/trunk/tools/out
/trunk/libs/out
/trunk/tools/winbuild/vs2015/.vs/all_tools/v14/.suo
/trunk/tools/winbuild/vs2015/DesktopWallpaper.vcxproj.user
/trunk/libs/winbuild/vs2015/all_libs.VC.db
/trunk/libs/winbuild/vs2015/all_libs.VC.VC.opendb
/trunk/tools/winbuild/vs2015/HideByTop/Debug
/trunk/libs/winbuild/vs2015/x64
/trunk/tools/winbuild/vs2015/x64
